<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team8.partyinthebackend.mapper.StudentMapper">
  <!-- select all students from database -->
  <select id="selectAll" resultType="team8.partyinthebackend.model.Student">
    select * from students;
  </select>

  <!-- select one student from database by id -->
  <select id="selectById" resultType="team8.partyinthebackend.model.Student">
    SELECT * FROM students WHERE id = #{id};
  </select>

  <!-- create a student -->
  <select id="create" resultType="team8.partyinthebackend.model.Student">
    INSERT INTO students(id, name, major) VALUES (#{id}, #{name}, #{major});
  </select>

  <update id="update" parameterType="team8.partyinthebackend.model.Student">
  UPDATE students SET
    name = #{name},
    major = #{major}
  WHERE id = #{id};
  </update>

  <!-- delete a student -->
  <delete id="delete" parameterType = "long">
  DELETE FROM students WHERE id = #{id};
  </delete>
</mapper>