/* .notdoneclass{
  margin: auto;
  width: 15%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: #5b7f95;
  text-align: center;
}

.start{
  
  width: 35%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: #5b7f95;
} */

/* .doneclass{
  margin: auto;
  width: 15%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: #2a9d8f;
} */
.container {
    height: 100vh;
    width: 100vw;
    background-color: #eeeeee;
}
/* .row {
    display: flex;
   
    float: left;
    width: 500px; 
    padding: 10px;
} */
/* .row:before, .row:after {
    content: "";
}
.row:after {
    clear: both;
}
.col {
    float: left;
    width: 100%;
} */
/* .box {
    border: 2px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 25px;
    text-align: center;
    line-height: 100%;
} */
.start{
    justify-content: center;
}

.box {
    border: 4px solid rgb(0,0,0);
    width: 12vw;
    height: 100%;
    text-align: center;
}

/* .col:first-child .box {
    margin-left: 0;
}
.col:last-child .box {
    margin-right: 0;
} */


.head{
    background-color: #003b5c;
    text-align: center;
    color: white;
}
  
/*.container {
    display: inline;
    width: 100vw;
    height: 100%;
} */
  
/* .leftpane { I tried to make middle white and sides grey, css didnt agree
  
    width: 20vw;
    height: 100%;
    float: left;
    background-color: rosybrown;
    border-collapse: collapse;
}

.middlepane {
  
    width: 60vw;
    height: 100%;
    
    float: left;
    background-color: royalblue;
    border-collapse: collapse;
}

.rightpane {
 
    width: 20vw;
    height: 100%;
    float: left;
    background-color: yellow;
    border-collapse: collapse;
} */
