/* .notdoneclass{
  margin: auto;
  width: 15%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: #5b7f95;
  text-align: center;
}

.start{
  
  width: 35%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: #5b7f95;
} */

/* .doneclass{
  margin: auto;
  width: 15%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: #2a9d8f;
} */
.container {
    height: 100vh;
    width: 100vw;
    background-color: #eeeeee;
    /* grid-row-gap: 50px; */
}

.start{
    justify-content: center;
}

.box {
    display: inline-block;
    border: 4px solid  #881c1c;
    width: 12vw;
    height: 90%;
    padding: .5em;
    text-align: center;
    
    line-height: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}


.head{
    background-color: #003b5c;
    text-align: center;
    color: white;
}
  
