
  .nav-menu {
    background-color: #881c1c;
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
   
    top: 0;
    left: -100%;
    transition: 850ms;
    position: absolute;
  }
  
  .nav-menu.active {
    
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 100px;
    position: relative;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    position: relative;
  }

  .nav-text div {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
 