.scenarioIntro-headermargin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 260px 0px 8px;
    list-style: none;
    height: 60px;     
}
ul{
    margin: 12%
}
ol{
    margin:13%
}
.scenarioIntro-maintext {
    background-color: #ececec;
}